<div class="container">
  <div class="row justify-center">
 <!--  <div class="col-12 text-center">
  <p>
  {{ave}} &lt;-- propiedad (variable del componente) de app-animales! 
</p>
</div>-->
<div class="col-12 text-center">
    <h1>
      Aves:
    </h1>
    </div>
<div class="col-12">
<ul>
  <li>{{ave2}}</li>
  <li>{{ave3}}</li>
  <li>{{ave4}}</li>
  <li>{{ave5}}</li>
</ul>
</div>
<div class="col-12">
<h4>Obteniendo propiedades del objeto animalin de la clase Animal</h4>
<p>{{animalin.nombre}}</p>
<p>{{animalin.peso}}</p>
<p>{{animalin.sexo}}</p>
<p>{{animalin.esta_extinto}}</p>

</div>
</div>
</div>